/* Google Fonts - Roboto Mono, Rethink Sans */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap');

body {
  user-select: none;
}

#main_title {
    font-family: "Roboto Mono";
    margin-left: 52rem;
    margin-top: -37rem;
}

/* Game container */
#game-container {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    position: relative;
    background-color: black;
  }
  
  /* Paddles */
  #paddle1, #paddle2 {
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
  }
  
  #paddle1 {
    left: 20px;
  }
  
  #paddle2 {
    right: 20px;
  }
  
  /* Ball */
  #ball {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    visibility: hidden;
  }

  #paddle1_box {
    width: 400px;
    height: 100px;
    position: absolute;
  }

  #paddle2_box {
    width: 400px;
    height: 100px;
    position: absolute;
    right: 1px;
  }

  button {
    font-family: "Roboto Mono", Sans-serif;
    padding: 0.5rem;
    border-color: transparent;
    border-width: 0;
    background-color: white;
    box-shadow: 0 0 1rem #0000000f;
    margin-left: 52rem;
    animation: 0.2s button_click_reverse forwards;
}

  button:active {
      animation: 0.2s button_click forwards;
  }

  @keyframes button_click {
      from {scale: 1; background-color: white; color: white;}
      to {scale: 0.8; background-color: black; color: white;}
  }

  @keyframes button_click_reverse {
    from {scale: 0.8; background-color: black; color: white;}
    to {scale: 1;}
  }

  @keyframes number_change_player2 {
      from {opacity: 0; transform: translateY(396px);}
      to {opacity: 1;}
  }

  @keyframes number_change_player1 {
    from {opacity: 0; transform: translate(35px, 481px);}
    to {opacity: 1; transform: translate(35px, 493px);}
  }

  @keyframes game_start {
    0% {transform: translateY(20px); opacity: 0;}
    20% {transform: translateY(0px); opacity: 1;}
    30% {opacity: 0;}
    40% {opacity: 1;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    70% {opacity: 0;}
    80% {opacity: 1;}
    90% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes ball_zoom {
    from {scale: 4; opacity: 0;}
    to {scale: 1; opacity: 1;}
  }

  @keyframes ball_hit {
    from {width: 20px;}
    to {width: 10px;}
  }

  @keyframes shake {
    from {scale: 1.0025;}
    to {scale: 1;}
  }

  @keyframes dark_mode_change {
    from {background-image: url(images/Blueprint_white.svg); color: black; background-color: white;}
    to {background-image: url(images/Blueprint_black.svg); color: white; background-color: black;}
  }

  @keyframes dark_mode_change_buttons {
    from {background-color: white;}
    to {background-color: #141414; color: white;}
  }

  #score_player1 {
    color: white;
    font-family: "Silkscreen";
    transform: translate(35px,493px);
    font-size: 2.5rem;
  }

  #score_player2 {
    color: white;
    font-family: "Silkscreen";
    margin-left: 45rem;
    transform: translateY(408px);
    font-size: 2.5rem;
  }

  #start_game_text {
    position: absolute;
    color: white;
    font-family: "Silkscreen";
    margin-left: 270px;
    visibility: hidden;
  }

  #start_game_button {
    margin-bottom: 0.5rem;
  }

  #back_button {
    margin-top: 29rem;
    font-family: "Roboto Mono", sans-serif;
  }

  a {
    text-decoration: none;
  }

  #labs_icon {
    width: 1.2rem;
    margin-bottom: -0.2rem;
    margin-right: 0.5rem;
  }