/* Google Fonts - Roboto Mono, Rethink Sans */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap');

body {
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

#main_title {
    font-family: "Roboto Mono";
    margin-left: 52rem;
    margin-top: -37rem;
}

/* Game container */
#game-container {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    position: relative;
    background-color: black;
  }
  
  /* Paddles */
  #paddle1, #paddle2 {
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
  }
  
  #paddle1 {
    left: 20px;
  }
  
  #paddle2 {
    right: 20px;
  }
  
  /* Ball */
  #ball {
    width: 15px;
    height: 15px;
    border-radius: 999px;
    background-color: white;
    position: absolute;
    visibility: hidden;
  }

  #paddle1_box {
    width: 400px;
    height: 100px;
    position: absolute;
  }

  #paddle2_box {
    width: 400px;
    height: 100px;
    position: absolute;
    right: 1px;
  }

  button {
    font-family: "Roboto Mono", Sans-serif;
    padding: 0.5rem;
    border-color: transparent;
    border-width: 0;
    background-color: white;
    box-shadow: 0 0 1rem #00000007;
    margin-left: 52rem;
    animation: 0.2s button_click_reverse forwards;
}

  button:active {
      animation: 0.2s button_click forwards;
  }

  @keyframes button_click {
      from {scale: 1; background-color: white; color: white;}
      to {scale: 0.8; background-color: black; color: white;}
  }

  @keyframes button_click_reverse {
    from {scale: 0.8; background-color: black; color: white;}
    to {scale: 1;}
  }

  @keyframes number_change_player2 {
      from {opacity: 0; transform: translateY(396px);}
      to {opacity: 1;}
  }

  @keyframes number_change_player1 {
    from {opacity: 0; transform: translate(35px, 481px);}
    to {opacity: 1; transform: translate(35px, 493px);}
  }

  @keyframes game_start {
    0% {transform: translateY(20px); opacity: 0;}
    20% {transform: translateY(0px); opacity: 1;}
    30% {opacity: 0;}
    40% {opacity: 1;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    70% {opacity: 0;}
    80% {opacity: 1;}
    90% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes ball_zoom {
    from {scale: 4; opacity: 0;}
    to {scale: 1; opacity: 1;}
  }

  @keyframes ball_hit {
    from {width: 20px;}
    to {width: 10px;}
  }

  @keyframes shake {
    from {scale: 1.0025;}
    to {scale: 1;}
  }

  @keyframes dark_mode_change {
    from {background-image: url(images/Blueprint_white.svg); color: black; background-color: white;}
    to {background-image: url(images/Blueprint_black.svg); color: white; background-color: black;}
  }

  @keyframes dark_mode_change_buttons {
    from {background-color: white;}
    to {background-color: #141414; color: white;}
  }

  @keyframes dark_mode_ball_icons_change {
    from {}
    to {background-color: white}
  }

  #score_player1 {
    color: white;
    font-family: "Silkscreen";
    transform: translate(35px,493px);
    font-size: 2.5rem;
  }

  #score_player2 {
    color: white;
    font-family: "Silkscreen";
    margin-left: 45rem;
    transform: translateY(408px);
    font-size: 2.5rem;
  }

  #start_game_text {
    position: absolute;
    color: white;
    font-family: "Silkscreen";
    margin-left: 270px;
    visibility: hidden;
  }

  #start_game_button {
    margin-bottom: 0.5rem;
  }

  #back_button {
    font-family: "Roboto Mono", sans-serif;
  }

  #back_button_div {
    position: absolute;
    bottom: 0;
  }

  #dark_mode_button {
    margin-left: 0;
  }

  a {
    text-decoration: none;
  }

  #labs_icon {
    width: 1.2rem;
    margin-bottom: -0.2rem;
    margin-right: 0.5rem;
  }

  #ball_shape_title {
    font-family: "Roboto Mono";
    margin-left: 52rem;
    position: absolute;
  }

  #round_ball_button {
    margin-top: 3.5rem;
    display: inline-block;
    height: 4rem;
    width: 5rem;
    text-align: center;
    border-width: 2px;
    border-color: black;
  }

  #square_ball_button {
    display: inline-block;
    margin-left: 1rem;
    height: 4rem;
    width: 5rem;
  }

  #round_ball_icon {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 999px;
    background-color: black;
    margin: auto;
  }

  #square_ball_icon {
    width: 1.2rem;
    height: 1.2rem;
    background-color: black;
    margin: auto;
  }

  #loading_screen {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  #loading_text {
    font-family: "Roboto Mono", sans-serif;
    margin-top: 50vh;
    text-align: center;
  }

  #loading_animation {
    position: absolute;
    width: 5rem;
    height: 5rem;
    margin-top: 22rem;
    margin-left: 47.8vw;
  }

  @keyframes loading_stop {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  #speed_segment {
    margin-left: 52rem;
  }

  #speed_segment_title {
    font-family: "Roboto Mono", sans-serif;
  }

  #speed_text {
    font-family: "Roboto Mono", sans-serif;
  }

  input[type="range"] {
    accent-color: black;
  }

  input[type="range"]::-webkit-slider-thumb {
    scale: 0;
  }

  #mobile_notice {
    display: none;
  }

  #mobile_notice_icon {
    display: none;
  }

  /* Mobile layout - mobile view not allowed */
  @media only screen and (max-width: 1037px) {
    #game-container, #main_title, button, h2, h1, #round_ball_button, #square_ball_button, h3, input {
      display: none;
    }

    #mobile_notice {
      display: flex;
      justify-content: center;
    }

    #mobile_notice_icon {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }

    #mobile_notice_text {
      text-align: center;
      font-size: 2rem;
      font-family: sans-serif;
    }

    #mobile_error_icon {
      height: 3rem;
      width: 3rem;
    }
  }